/* Estilos principais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #4B0082; /* Roxo escuro */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 50px;
    color: #ffffff;
    font-family: 'Sacramento', cursive;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 20px;
    color: #E0B0FF;
}

/* Estilo para os textos */
.textos p {
    font-size: 22px;
    color: #E0B0FF;
    margin: 20px 0;
    transition: color 0.3s ease;
}

.textos p:hover {
    color: #ffffff;
}

/* Links numerados */
.links {
    margin: 20px;
}

.link {
    font-size: 30px;
    font-weight: bold;
    color: #E0B0FF;
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #4B0082;
    transition: transform 0.2s ease, background-color 0.3s;
}

.link:hover {
    transform: scale(1.1);
    background-color: #800080;
    text-decoration: underline;
}

/* Imagem */
#imagem-container {
    margin-top: 40px;
    display: none; /* A imagem começa oculta */
}

#imagem {
    max-width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease;
}

